h6{
    margin: 0%;
}
p{
    margin: 0%;
    font-size: 12px;
}

.contenedorClase{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    margin-right: 15px;
    width: 280px;
    height: 200px;
}

.item-top{
    padding-left: 5%;
    padding-top: 2%;
    background:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0));
    width: 100%;
    height: 50px;
    color: white;
}

.item-bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 50px;
    color: white;
}

.item-nivel{
    display: flex;
    flex-direction: row;
    justify-content:center;
    vertical-align:middle;
    align-items: center;
    width: 33%;
}
.item-fecha{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 33%;
}

.item-tiempo{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 33%;
}
.contenedorTodasClases{
    width: 900px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.contenedor{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.niveles{
    height:50%;
    margin-left: 6%;
}

