h1{
  margin-bottom: 0%;
}
p{
  margin-top: 0%;
}

.Web-header{
  max-height: min-content;
  background: black;
  padding-left: 2%;
  margin-bottom: 3%;
}
.Web-header > img{
  height: 90px;
}

img{
  border-radius:150px;
  height: 300px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-amarillo{
  color: white;
  background-color: #F8D600;
  border: none;
}

.btn-rojo{
  color: white;
  background-color: #972f2b;
  border: none;
  pointer-events:none;
}

.btn-verde{
  color: white;
  background-color: #9CC163;
  border: none;
  pointer-events:none;
}

.btn-azul{
  color: white;
  background-color: #1D8CB9;
  border: none;
  pointer-events:none;
}
.btn-naranja{
  padding: 1%;
  color: white;
  background-color: #FF7900;
  border: none;
  border-radius: 5%;
}
.btn-naranja:hover{
  padding: 1%;
  color: white;
  background-color: #ff770062;
  border: none;
  border-radius: 5%;
}
.col-6 > img{
  height: 40px;
}

.info-clases{
  width: 100%;
  background-color: #71717154;
  margin-bottom: 5%;

}

